
@{
    ViewData["Title"] = "_AddNewUserParial";    
}

<ul class="nav nav-tabs d-flex flex-column flex-md-row text-center mb-4 col-12">
    <li class="nav-item">
        <a id="main"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="Index">
            Management
        </a>
    </li>
    <li class="nav-item">
        <a id="results"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="ResultsAll">
            Results All
        </a>
    </li>
    <li class="nav-item">
        <a id="events"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="EventsAll">
            Events All
        </a>
    </li>
    <li class="nav-item">
        <a id="groups"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="GroupsAll">
            Groups All
        </a>
    </li>
    <li class="nav-item">
        <a id="quizzes"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="QuizzesAll">
            Quizzes All
        </a>
    </li>
    <li class="nav-item">
        <a id="students"
           class="nav-link nav-to-change"
           asp-controller="Dashboard"
           asp-action="StudentsAll">
            Students All
        </a>
    </li>
</ul>
