@page
@model Quizizz.Web.Areas.Identity.Pages.Account.Manage.EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.TeacherRoleName))
    {
        ViewData["Layout"] = GlobalConstants.AdminLayout;
    }
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form id="email-form">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled/>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}